html {
    margin: 0!important;
}
div {
    background-color: white;
    
}

a {
    cursor: pointer;
}

.top-content span a{
    width: 15px;
    padding: 15px;
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
    color: grey;
}

.top-content span a:hover {
    border-bottom-style: outset;
    border-bottom-color: black;
}

.top-content span a:nth-child(1) {
    font-weight: bolder;
    color: black;
}

.top-content span a:nth-child(6) {
    border: 2px solid rgb(0, 81, 255);
    padding: 15px 30px;
    color:  rgb(0, 81, 255);
    margin-left: 100px;
    border-radius: 2px;
    font-weight: bold;
}

.top-content span a:nth-child(7) {
    border: none;
    padding: 17px 20px;
    margin-left: 0.5px;
    border-radius: 2px;
    background-color: #1d6ae5;
    color: white;
    text-align: center;
    font-weight: bold;
}


#heading {
    width: 70%;
    padding-left: 10px;
}

#heading h1{
    font-weight: bold;
    font-size: 110px;
    text-transform: uppercase;
    border-bottom: 5px;
}

#money-you-need {
    border-top: 5px;
    font-size: 20px;
    color: grey;
    width: 55%;
}

.get-started {
    border: none;
    padding: 17px 20px;
    margin-top: 35px;
    border-radius: 1px;
    width: 28%;
    background-color: #1d6ae5;
    color: white;
    text-align: center;
    font-weight: bold;
}

#what-we-are-about {
    height: 340px; 
}

#what-we-are-about p{
    background-color: #1d6ae5;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 90px 150px 90px 150px;
}

.promise > a{
    background-color: red;
    display: block;
    margin: 0 auto;
}

.left {
    width: 15%;
}

#promise {
    margin: 25px;
}

#promise > img{
    width: 50%;
    float: right;
    margin: 50px;
}

.every-dollar {
    font-size: 40px;
    width: 33%;
}

.savings {
    width: 33%;
    font-size: 18px;
    color: grey;
}

#promise > a{
    color: #1d6ae5;
    text-decoration: none;
    font-size: 16.5px;
}

#savings {
    border-left: 2px solid #1d6ae5;
    padding-left: 25px;
    margin-bottom: 0!important;
    bottom: 0!important;
}

#savings > h1{
    font-size: 75px;
}

#savings > p {
    margin-bottom: 0!important;
}

.invest {
    margin: 0!important;
    background-color: #f3f4f8;
}

.invest > img {
    width: 45%;
    float:left;
}





