* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

.top-content span a{
    width: 15px;
    padding: 15px;
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
    color: grey;
}

.top-content span a:hover {
    border-bottom-style: outset;
    border-bottom-color: black;
}

.top-content span a:nth-child(1) {
    font-weight: bolder;
    color: black;
}

.top-content span a:nth-child(6) {
    border: 2px solid rgb(0, 81, 255);
    padding: 15px 30px;
    color:  rgb(0, 81, 255);
    margin-left: 100px;
    border-radius: 2px;
    font-weight: bold;
}

.top-content span a:nth-child(7) {
    border: none;
    padding: 17px 20px;
    margin-left: 0.5px;
    border-radius: 2px;
    background-color: #1d6ae5;
    color: white;
    text-align: center;
    font-weight: bold;
}

#heading {
    width: 70%;
    padding-left: 10px;
}

#heading h1{
    font-weight: bold;
    font-size: 110px;
    text-transform: uppercase;
    border-bottom: 5px;
}

#money-you-need {
    border-top: 5px;
    font-size: 20px;
    color: grey;
    width: 55%;
}

.get-started {
    border: none;
    padding: 17px 20px;
    margin-top: 35px;
    border-radius: 1px;
    width: 28%;
    background-color: #1d6ae5;
    color: white;
    text-align: center;
    font-weight: bold;
}

#what-we-are-about {
    height: 340px; 
}

#what-we-are-about p{
    background-color: #1d6ae5;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 90px 150px 90px 150px;
}

.item {
    width: 10px;   
}

.background-color-grey {
    background-color: #f3f4f8;
}

/*
#promise {
    margin: 25px;
}

#promise > img{
    width: 50%;
    float: right;
    margin: 50px;
}

#promise > a{
    color: #1d6ae5;
    text-decoration: none;
    font-size: 16.5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.savings {
    width: 33%;
    font-size: 18px;
    color: grey;
}

#savings {
    border-left: 2px solid #1d6ae5;
    padding-left: 25px;
}

#savings > h1{
    font-size: 75px;
}

.every-dollar {
    font-size: 40px;
    width: 33%;
}
*/

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.promise {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.flex-item {
    flex: 1 1 300px;
    margin: 10px;
}

.image {
    width: 100%;
}

@media(max-width: 965px) {
    .image-div {
        order: -1;
    }
}
.invest {
    margin: 0!important;
}

.invest-image {
    width: 30%;
}